body, html{ 
  background-color: black;
  height: 99%;
  overflow: hidden;
  color:white;
  font-size: 16px;
    
  font-family: monospace;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  border:red,0px,solid;
}
.console::webkit-scrollbar{
  display: none;
}
.console{
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}
a:link{
  color:white;
}
a:visited{
  color:white;
}
a:hover{
  color:white;
}
a:active{
  color:white;
}